@keyframes blink {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.input-cursor {
  display: inline-block;
  width: 2px;
  background-color: currentColor;
  margin-left: 3px;
  animation: blink .6s linear infinite alternate;
  position: absolute;
  margin-top: 5px;
}